DB_NAME=chatapp
DB_USER=postgres
DB_PASSWORD=your_secure_password
DJANGO_SECRET_KEY=your_django_secret_key
# For AWS/GCP, you would also add:
# AWS_ACCESS_KEY_ID=...
# AWS_SECRET_ACCESS_KEY=...
# S3_BUCKET_NAME=...
